<section class="hero-section">
    <div class="container" id="container" [ngClass]="containerClass">
        <div class="form-container sign-up-container"  [ngClass]="signUpFormClass">
            <form action="#">
                <h1>Create Account</h1>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <div class="mt-3" id="cloudflare-captcha-signup"></div>
                <button class="mt-3">Sign Up</button>
                <a class="mt-3 mb-3 mobile-only-link" [routerLink]="['/cloudflare-turnstile']" fragment="login">Already have an account?</a>
            </form>
        </div>
        <div class="form-container sign-in-container"  [ngClass]="signInFormClass">
            <form action="#">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a>Forgot your password?</a>
                <div class="mt-3" id="cloudflare-captcha-signin"></div>
                <button class="mt-3">Sign In</button>
                <a class="mt-3 mb-3 mobile-only-link" [routerLink]="['/cloudflare-turnstile']" fragment="register">Don't have an account?</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep using our services, login with your credentials</p>
                    <button class="ghost" (click)="setSignInFormActive()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, User!</h1>
                    <p>Enter your details and start your journey with us</p>
                    <button class="ghost" (click)="setSignUpFormActive()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="back-button">
        <a class="mt-3 mb-3" [routerLink]="['/']" fragment="login">Back</a>
    </div>
  </section>